*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*large first*/

.flex{
    display: flex;
}


.button{
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 16px;
  }

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

header>img{
    width: 200px;
    align-self: center;
    padding: 1rem;
    background-color: black;
}

header>div{
    align-self: center;
}

header{
    background-color:#080b12 ;
}


.container{
    max-width: 1536px;
    height: 1200px;
}

.first{
    height: 100%;
    width: 200px;
    background-color: black;
    color: lightgray;
}

.second{
    height: 100%;
    width: 87%;
    background-color:#141922 ;
    overflow: auto;
}

div.first>div>img{
    width: 20px;
}

div.first>div>p{
    display: inline;
}

div.first>*{
    margin-left: 2rem;
    margin-top: 1rem;
}

#home{
    border-left: lime;
    color: white;
}

#playlist{
    filter: invert();
    width: 50px;
    vertical-align: middle;
}

.column{
    flex-direction: column;
}

.space-around{
    justify-content: space-around;
}

div.flex.column.space-around>p{
    margin-top: 1rem;
}

.color-white{
    color: white;
}

.column-foot{
    justify-self: flex-end;
}

.section1{
    color: lightgray;
    padding: 1rem;
    justify-content: center;
}

div.section1>p{
    margin-left: 2rem;
}

.section2{
    padding:1rem;
    color: lightgray;
    
}


div.section2>h1{
    margin-left: 1rem;
}

.card{
    width: calc(100% / 6 - 1rem);
    margin-left: 1rem;
    margin-top: 2rem;
    text-align: center;
    color: lightgray;
} 

.row{
    flex-wrap: wrap;
}

div.card>img{
    width: 100%;
}


div.card>h3{
    color: white;
}

.suggest{
    margin-top: 3rem;
    margin-left: 1rem;
}

.circle{
    border-radius: 50%;
}

footer{
    width: 100%;
    height: 100px;
    background-color:rgb(79, 76, 76);
    color: white;
}

div.footer-section>img{
    width: 60px;
    margin-left: 1.5rem;
}


div.footer-section>div.flex.column{
    margin-left: 1rem;
}

.icons{
    margin-left: 3rem;
}

.volume{
    width: 400px;
    height: 5px ;
    border: 1px solid black;
    margin-top: .5rem;
}

.volume1{
    height: 5px;
    width: 100px;
    border: 1px solid black;
}


.right-footer>*{
    margin-left: 0.1rem;
    margin-right: 1rem;
}

.volume3{
    width: 30%;
    height: 100%;
    background-color: white;
}

.volume4{
    width: 70%;
    height: 100%;
    background-color: grey;
}

#played{
    width: 30%;
    height: 100%;
    background-color: white;
}

#remaning{
    width: 70%;
    height: 100%;
    background-color: grey;
}

.time{
    margin-top: 1rem;
}

div.player>*{
    margin-left: 1rem;
    margin-right: 1rem;
}

div.time>p{
  margin-left: 1rem;
  margin-right: 1rem;
}