*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*large first*/

.flex{
    display: flex;
}


.button{
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 16px;
  }

.space-between{
    justify-content: space-between;
}

header>img{
    width: 200px;
    align-self: center;
    padding: 1rem;
    background-color: black;
}

header>div{
    align-self: center;
}

header{
    background-color:#080b12 ;
}


.container{
    max-width: 1536px;
    height: 1000px;
}

.first{
    height: 100%;
    width: 13%;
    background-color: black;
    color: lightgray;
}

.second{
    height: 100%;
    width: 87%;
    background-color:#141922 ;
}

div.first>div>img{
    width: 20px;
}

div.first>div>p{
    display: inline;
}

div.first>*{
    margin-left: 2rem;
    margin-top: 1rem;
}

#home{
    border-left: lime;
    color: white;
}

#playlist{
    filter: invert();
    width: 50px;
    vertical-align: middle;
}

.column{
    flex-direction: column;
}

.space-around{
    justify-content: space-around;
}

div.flex.column.space-around>p{
    margin-top: 1rem;
}

.color-white{
    color: white;
}

.column-foot{
    justify-self: flex-end;
}

.section1{
    color: lightgray;
    padding: 1rem;
    justify-content: center;
}

div.section1>p{
    margin-left: 2rem;
}

.section2{
    padding:1rem
}


.card{
    width: calc(100% / 6 - 1rem);
    background-color: red;
    margin-left: 1rem;
    margin-top: 1rem;
} 

.row{
    flex-wrap: wrap;
}

div.card>img{
    width: 100%;
}